*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 38, 67);
}

.quiz-app{
  width: 600px;
  background-color:white;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  
}

.score-section{
  margin-bottom: 20px;
  
}

.score-section h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 25px;
}

.score-section button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 80px;
}

.question-section h2{
  text-align: center;
  color: rgb(9, 104, 238);
  margin-bottom: 10px;
  
}


.buttons {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;


}

button{
  background-color: rgb(34, 75, 163);
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  filter: brightness(1.3);

}

.timer {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color:#888;
}

.timer span {
  font-weight: 600;
  color: black;
  margin-left: 5px;

}

